body {
  margin: 50px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h3 {
  color:white;
}
.sex {
  width: 48%; float:left;margin-right:10px;
}
.embarked {
  width: 48%; float:right;margin-left: 10px;
}