body {
  margin: 50px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
/* h1, h3, label{
  color:white;
} */
.sex {
  width: 48%; float:left;margin-right:10px;
}
.embarked {
  width: 48%; float:right;margin-left: 10px;
}

.graph, #show-gender, #show-embarked-location, #show-survived,#main{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

div#main:hover{
  cursor: pointer;
}

.legend {
  display: inline-block;
  
}

#survivors {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
}

#casualties {
    height: 15px;
    width: 15px;
    background-color: gray;
    border-radius: 50%;
}

#male {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid blue;
}
#female{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid hotpink;
}

#button-div{
  padding-top: 20px;
}

button {
  padding: 5px;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  color: white;
  background-color: gray;
}

.button-selected {
  background-color: white;
  color: black;
}

#passenger-info{
  font-weight: bold;
  padding: 5px;
}
